.wordCounter{
  text-align: center;
  margin-top: 7rem;
}

textarea{
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button{
  margin-top: 2rem;
  padding: 4px 25px;
}

p{
  margin-top: 2rem;
  text-align: start;
  text-indent: 0px;
  display: inline-block;
}